# Byte-code files
*.pyc
__pycache__/

# Environments
.venv/
venv/
env/
build/
develop-eggs/
dist/
*.egg-info/

# Editor/IDE-specific files
.project
.idea/                     # JetBrains IDEs (PyCharm, etc)
.vscode/                   # VS Code

# OS-specific files
.DS_Store                  # macOS
Thumbs.db                  # Windows

# Secret files
.env                       # Environment variables
.flaskenv

# Testing and coverage
.coverage
.tox/

# Installer logs
pip-log.txt
pip-delete-this-line.txt

# Unit test coverage reports
htmlcov/
.nox/
