# Byte-code files
*.pyc
__pycache__/

# Environments
.venv/
venv/
env/
build/
develop-eggs/
dist/
*.egg-info/

# Editor/IDE-specific files
# JetBrains IDEs (PyCharm, etc)
 # VS Code
.project
.idea/
.vscode/
.cursor/

# OS-specific files
# macOS
.DS_Store
# Windows
Thumbs.db

# Secret files
.env
**/.env
.flaskenv

# Testing and coverage
.coverage
.tox/

# Installer logs
pip-log.txt
pip-delete-this-line.txt

# Unit test coverage reports
htmlcov/
.nox/
